<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate</title>
</head>
<body>
    <form #formRegistro="ngForm">
        <label>Email</label>
        <input type="email" name="cajamail" #Email placeholder="example@example.com" class="form-control">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="cajapassword" #Password placeholder="123456" class="form-control" minlength="6" maxlength="20" pattern="[A-Za-z0-9]{6,20}">
        <br/>
        <button class="btn btn-success" (click)="registro()">
            Registrar
        </button>
    </form>
</body>
</html>