<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate</title>
</head>
<body>
    <div *ngIf="logueado; else cargando">
        <div class="card" style="width: 18rem;">
          <img src="{{usuario.photoURL}}" class="card-img-top img-fluid" width="200px" height="200px">
          <div class="card-body">
            <h5 class="card-title">USUARIO : {{usuario.displayName}}</h5>
            <p class="card-text">EMAIL : {{usuario.email}}</p>
          </div>
        </div>
      </div>
      
      <ng-template #cargando>
          <div class="container">
          </div>
      </ng-template>
</body>
</html>